:root {
  font-family: 'InterVariable', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;

  --bg-color: #ffffff;
  --text-main: #181818;
  --point-color: #ff8800;
}

@font-face {
  font-family: 'InterVariable';
  src: url('./assets/fonts/Inter-roman.var.woff2') format('woff2'), ;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

::selection {
  background-color: var(--point-color);
  color: var(--text-main);
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  line-height: 1.2em;
  padding: 1.5rem;
  border-bottom: 2px solid var(--text-main);
}

.title-area {
  font-size: calc(100vw / 16);
  justify-content: space-between;
}

.tag {
  display: inline-block;
  border: none;
  color: var(--text-main);
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5em;
  padding: 0.25rem 0.8rem;
  border-radius: 6px;
  background: #ececec;
}

.tag:hover {
  transform: translateX(2px);
}

#name-tag {
  background: var(--point-color);
}

@media (max-width: 768px) {
  .title-area {
    font-size: 2rem;
  }
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--text-main);
  cursor: pointer;
  padding: 1.5rem;
  width: 100%;
  text-align: left;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: var(--text-main);
  outline: none;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .accordion {
    font-size: 1rem;
  }
}

.accordion:hover {
  background-color: #ccc;
}

.active {
  background-color: var(--point-color);
}

.panel {
  padding: 0 18px;
  background-color: var(--bg-color);
  display: none;
  overflow: hidden;
  border-bottom: 2px solid var(--text-main);
}

.special-character {
  font-feature-settings: 'ss06' on;
  font-family: 'InterVariable';
  font-display: swap;
  display: inline-block;
  transition: transform 100ms ease-in;
}

.accordion.active .special-character {
  transform: rotate(90deg);
}

.modal {
  z-index: 1000;
  background-color: var(--bg-color);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 600px;
  position: relative;
  height: 100vh;
  gap: 1rem;
}

.close-modal {
  cursor: pointer;
}

#info-icon {
  cursor: pointer;
}

.instructor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-align: right;
  line-height: 1.2em;
}
